.wrapper {
	padding-top: calc(var(--mantine-spacing-xl) * 2);
	padding-bottom: calc(var(--mantine-spacing-xl) * 2);
}

.title {
	font-weight: 900;
	margin-bottom: var(--mantine-spacing-md);
	text-align: center;

	@media (max-width: $mantine-breakpoint-xs) {
		font-size: rem(28px);
		text-align: left;
	}
}

.description {
	text-align: center;

	@media (max-width: $mantine-breakpoint-xs) {
		text-align: left;
	}
}

.feature {
	display: flex;
	flex-direction: column;
	align-items: center;

	@media (max-width: $mantine-breakpoint-xs) {
		text-align: left;
		align-items: start;
		
	}
}

.mobile {
	max-width: 220px;

	@media (max-width: $mantine-breakpoint-xs) {
		max-width: 100%;
	}
}