.modalButton {
	border: 1px solid #f7a73a;
	border-spacing: 4px;
	border-collapse: separate;
	border-radius: 8px;
	height:55px;
	position: absolute;
	margin-top: 20px;
	margin-left: 15px;

	@media (max-width: $mantine-breakpoint-sm) {
		width: 250px !important;
	}
}

.button {
	height: 55px !important;
	margin-top: 11px;
	margin-left: 8px;

	@media (max-width: $mantine-breakpoint-sm) {
		width: 250px !important;
	}
}

.label {
    font-size: 14px !important;
    font-weight: 500;
}

.MainDiv {
	
	display: flex;
	flex-direction: column;
	position: relative;

	@media (max-width: $mantine-breakpoint-xs) {
		width: 100% !important;
	}
}

.MainModalButton {
	border: 1px solid #f7a73a;
	border-spacing: 4px;
	border-collapse: separate;
	border-radius: 8px;
	height:55px;
	position: absolute;
	margin-top: 20px;
	margin-left: 15px;

	@media (max-width: $mantine-breakpoint-xs) {
		width: 100% !important;
		margin-left: 6px;
	}
}

.MainButton {
	height: 55px !important;
	margin-top: 11px;
	margin-left: 8px;

	@media (max-width: $mantine-breakpoint-xs) {
		width: 100% !important;
		margin-left: 0px;
	}
}