body {
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

.headers, .headers h1, .headers span {
  font-family: 'Recoleta', Times, serif !important;
}

.custom-number-input .m-77c9d27d:hover:not([data-loading]):not(:disabled):not([data-disabled]) {
  --_button-bg: transparent !important;
}

.feature-list ::-webkit-scrollbar {
  width: 1px;
}